<app-navbar></app-navbar>

<div class="SinLogear" *ngIf="!esta_logeado"><h1>Por favor, inicie sesión para continuar</h1></div>

<div class="clientes" *ngIf="esta_logeado">
<div class="row">
  <h1>Lista de productos</h1>
</div>
<button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#nuevoProductoModal">Nuevo producto</button>

<!-- Modal -->
<div class="modal fade" id="nuevoProductoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-new-producto></app-new-producto>
      </div>

    </div>
  </div>
</div>

<div>
  <table class="table mt-7">
    <tbody>
      <td>
        <h5>ID</h5>
      </td>
        <td>
          <h5>Nombre</h5>
        </td>
        <td>
          <h5>Precio</h5>
        </td>

      <tr *ngFor="let Producto of producto">
        <td>
          <p>{{Producto.id}}</p>
        </td>
        <td>
          <p>{{Producto.nombre}}</p>
        </td>
        <td>
          <p>{{Producto.precioBase}}</p>
        </td>


        <td>
          <button class="btn btn-secondary" routerLink="/editar-producto/{{Producto.id}}">Editar</button>
          <button class="btn btn-danger" (click)="delete(Producto.id)">Borrar</button>
        </td>


      </tr>
    </tbody>
  </table>
</div>
 </div>
