<app-navbar></app-navbar>
<div class="SinLogear" *ngIf="!esta_logeado"><h1>Por favor, inicie sesión para continuar</h1></div>
<div class="clientes" *ngIf="esta_logeado">
<div class="row">
  <h1>Lista de empresas</h1>
</div>
<button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#nuevaEmpresaModal">Nueva empresa</button>

<!-- Modal -->
<div class="modal fade" id="nuevaEmpresaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Nueva empresa</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-new-empresa></app-new-empresa>
      </div>

    </div>
  </div>
</div>

<div>
  <table class="table mt-7">
    <tbody>
      <td>
        <h5>ID</h5>
      </td>
        <td>
          <h5>CUIT</h5>
        </td>
        <td>
          <h5>Razon social</h5>
        </td>
        <td>
          <h5>Fecha de inicio de actividades</h5>
        </td>

        <td>
          <h5>Nombre</h5>
        </td>
        <td>
          <h5>Apellido</h5>
        </td>
        <td>
          <h5>Dni</h5>
        </td>

      <tr *ngFor="let Empresa of empresa">

        <td>
          <p>{{Empresa.id}}</p>
        </td>
        <td>
          <p>{{Empresa.cuit}}</p>
        </td>
        <td>
          <p>{{Empresa.razonSocial}}</p>
        </td>
        <td>
          <p>{{Empresa.fechaInicioActividades}}</p>
        </td>
        <td>
          <p>{{Empresa.nombre}}</p>
        </td>
        <td>
          <p>{{Empresa.apellido}}</p>
        </td>
        <td>
          <p>{{Empresa.dniCliente}}</p>
        </td>

        <td>
          <button
          class="btn btn-dark btn-sm"
          (click)="mostrarServiciosContratados(Empresa.id)"
          data-bs-toggle="modal"
          data-bs-target="#verEmpresa"
        >
          Ver servicios de empresa
        </button>
        <button
        class="btn btn-dark btn-sm"
        (click)="mostrarPedidos(Empresa.id)"
        data-bs-toggle="modal"
        data-bs-target="#verPedidosEmpresa"
      >
        Ver pedidos de empresa
      </button>
          <button class="btn btn-secondary btn-sm" routerLink="/editar-empresa/{{Empresa.id}}">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="delete(Empresa.id)">Borrar</button>
        </td>

        <div
            class="modal fade"
            id="verEmpresa"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel">
                    Ver detalles
                  </h3>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div *ngIf="serviciosEmpresa.length === 0" class="ps-3 pt-1" > <p> Por el momento esta empresa no tiene ningún servicio contratado</p></div>
                <div *ngFor="let servicioContratado of serviciosEmpresa" class="ps-3 pt-1">
                    <p> Nombre del servicio: {{servicioContratado.nombreServicio}}, Precio Mensual: ${{servicioContratado.precioBase}}, Precio del soporte: {{servicioContratado.soportePrecio}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- ESTO ES PARA VER LOS PEDIDOS DE LA EMPRESA -->
          <div
          class="modal fade"
          id="verPedidosEmpresa"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">
                  Ver detalles
                </h3>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div *ngIf="pedidosEmpresa.length === 0" class="ps-3 pt-1" > <p> Por el momento esta empresa no tiene ningún pedido</p></div>
              <div *ngFor="let pedido of pedidosEmpresa" class="ps-3 pt-1">
                  <p> id: {{pedido.id}}, Fecha del pedido: ${{pedido.fechaPedido}}, ¿Activo?: {{pedido.activo}}, Valor total del pedido: ${{pedido.totalPedido}} </p>
              </div>
            </div>
          </div>
        </div>

      </tr>
    </tbody>
  </table>
</div>
 </div>
