<app-navbar></app-navbar>

<div class="SinLogear" *ngIf="!esta_logeado"><h1>Por favor, inicie sesión para continuar</h1></div>
<div class="pedidos" *ngIf="esta_logeado" >


<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">

          <div class="form-group">
            <label for="fechaPedido" class="form-label">Fecha del pedido</label>
            <input type="text" class="form-control" id="fechaPedido" name="fechaPedido" [(ngModel)]="fechaPedido" required>
          </div>
          <div class="container">
            <div class="row align-items-center">
              <div class="col align-self-start">
                <h5>Quien realizó el pedido...:</h5>
              </div>
              <div class="col">
                <div class="form-check">
                  <div class="row container">
                    <button class="btn btn-dark btn-sm" *ngIf="esEmpresa" (click)="esClienteOEmpresa()">¿Es cliente?</button>
                    <button class="btn btn-dark btn-sm" *ngIf="!esEmpresa" (click)="esClienteOEmpresa()">¿Es empresa?</button>
                  </div>
                  <div class="row mt-2">

                    <div class="btn-group ps-3" *ngIf="esEmpresa">
                      <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                        Ver lista de empresas
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                      <div *ngFor="let Empresa of listaEmpresas">

                        <li><button class="dropdown-item" type="button" (click)="getEmpresa(Empresa.razonSocial, Empresa.cuit)" > {{Empresa.razonSocial}} {{Empresa.cuit}} </button></li>
                      </div>
                      </ul>
                    </div>

                    <div class="btn-group ps-3" *ngIf="!esEmpresa">
                      <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                        Ver lista de clientes
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                     <div   *ngFor="let Cliente of listaClientes">
                      <li><button class="dropdown-item" type="button" (click)="getCliente(Cliente.dniCliente, Cliente.nombre, Cliente.apellido)"> {{Cliente.nombre}} {{Cliente.apellido}}, {{Cliente.dniCliente}} </button></li>

                     </div>
                      </ul>
                    </div>

                  </div>







                </div>
              </div>
            </div>
          </div>


          <!-- Si hay una empresa o un cliente seleccionado, se muestran los datos -->

          <div class="pt-3 pb-1" *ngIf="isSelectedCliente && !esEmpresa">
              <p>Nombre: {{clienteAux.nombre}} </p>
              <p>Apellido: {{clienteAux.apellido}} </p>
              <p>Dni: {{clienteAux.dniCliente}} </p>
          </div>
          <div class="pt-3 pb-1" *ngIf="isSelectedEmpresa && esEmpresa">
            <p>Razón social: {{empresaAux.razonSocial}} </p>
            <p>CUIT: {{empresaAux.cuit}} </p>
          </div>

          <!-- Espacio para colocar la lista de productos cuando haya una empresa seleccionada o un cliente -->
          <div class="pt-3" *ngIf="isSelectedCliente && !esEmpresa || isSelectedEmpresa && esEmpresa   ">


                <div *ngFor="let Producto of listaProductos">
                  <div class="row">
                    <div class="col"> <p>{{Producto.nombre}} ${{Producto.precioBase}} </p> </div>


                      <div class="form-group col">
                      <label for="cantidad" class="form-label">¿Cuántos quiere?</label>
                      <input type="text" onfocus="this.value=''" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="cantidad" required>
                    </div>
                    <div class="form-group col">
                      <label for="garantia" class="form-label">¿Años de garantía?</label>
                      <input type="text" onfocus="this.value=''" class="form-control" id="garantia" name="garantia" [(ngModel)]="garantia" required>
                    </div>
                    <div class="col">
                      <button class="btn btn-dark" type="button" (click)="getProducto(Producto.nombre, Producto.precioBase)"> Agregar </button>
                    </div>

                  </div>

                </div>



            <div class="btn-group">
              <button type="button" class="btn btn-dark dropdown-toggle ps-3 ms-3" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                Ver lista de servicios
              </button>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
             <div   *ngFor="let Servicio of listaServicios">
              <!-- Y ESTA OTRA :V (LA ORIGINAL ESTÁ EN EL NOTION) -->
              <li><button class="dropdown-item" type="button" (click)="getServicio(Servicio.nombre, Servicio. precioBase, Servicio.soportePrecio)"> {{Servicio.nombre}}, ${{Servicio.precioBase}}, soporte: ${{Servicio.soportePrecio}} </button></li>

             </div>
              </ul>
            </div>

          </div>
          <div class="listaItems" *ngFor="let DtoOrderDetails of listaDetalles">
            <p *ngIf="!DtoOrderDetails.esServicio"> {{DtoOrderDetails.nombre}}, precio unitario: ${{DtoOrderDetails.precioVenta}}, cantidad:{{DtoOrderDetails.cantidad}}, garantia:{{DtoOrderDetails.garantia}}   </p>
            <p *ngIf="DtoOrderDetails.esServicio"> {{DtoOrderDetails.nombre}}, precio mensual: ${{DtoOrderDetails.precioVenta}}, precio del soporte: ${{DtoOrderDetails.precioSoporte}} </p>



          </div>








          <button class="btn btn-primary mt-2">Añadir nuevo pedido</button>
      </form>
    </div>
  </div>
</div>
