<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">

          <div class="form-group">
            <label for="cuit" class="form-label">Fecha del pedido</label>
            <input type="text" class="form-control" id="fechaPedido" name="cuit" [(ngModel)]="fechaPedido" required>
          </div>
          <div class="form-group">
            <label for="totalPedido" class="form-label">Total del pedido (prueba)</label>
            <input type="text" class="form-control" id="totalPedido" name="totalPedido" [(ngModel)]="totalPedido" required>
          </div>
          <div class="form-group">
            <label for="activo" class="form-label">¿El pedido va a estar activo?</label>
            <input type="text" class="form-control" id="activo" name="activo" [(ngModel)]="activo" required>
          </div>
          <h3>Quien realizó el pedido es:</h3>
          <div class="form-group">
            <label for="cliente" class="form-label">Datos del cliente</label>
            <input type="text" class="form-control" id="cliente" name="cliente" [(ngModel)]="cliente.apellido" required>
          </div>
          <div class="form-group">
            <label for="empresa" class="form-label">Datos de la empresa</label>
            <input type="text" class="form-control" id="empresa" name="empresa" [(ngModel)]="empresa.razonSocial" required>
          </div>
          <div class="form-group">
            <label for="orderDetails" class="form-label">Detalles del pedido</label>
            <input type="text" class="form-control" id="orderDetails" name="orderDetails" [(ngModel)]="orderDetails" required>
          </div>


          <button class="btn btn-primary">Añadir nuevo pedido</button>
      </form>
    </div>
  </div>
</div>
